@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f7fff7;
  --danger-color: #ff6b6b;
  --warning-color: #ffe66d;
  --accent-color: #4ecdc4;
  --accent-text-color: #1a535c;
}

body {
  color: rgb(var(--accent-text-color));
  background: var(--background-color);
}
